body {
  background-image: ur("https://wallpapers.com/images/hd/terraria-background-m0hdco5lj63yzo7p.jpg");
  margin: 0px;
}

canvas {
  background-image: url("https://wallpapers.com/images/hd/terraria-background-m0hdco5lj63yzo7p.jpg");
  background-color: rgb(212, 197, 197);
}

img {
  display: none;
  
}